/* Responsive styles */
/* Mobile devices */
@media screen and (max-width: 576px) {
  .nav-container
   {
    flex-direction: column;
  }
  .popular-tours-container-wraper{
    gap: 24px;
    flex-direction: column;
  }
  .nav-container ul {
    gap: 3px;
  }
  
  .nav-container .logo-section img {
    width: 28.724px;
    height: 33.516px;
  }
  .nav-container .logo-section .logo-title {
    margin-bottom: 20px;
    font-size: 1.3125rem;
  }
  .nav-container .logo-section .logo-title .journey {
    font-size: 1.3125rem;
  }
  .banner-container-wraper {
    width: 100%;
    height: 483px;
  }
  .banner-container {
    top: 0;
    left: 0;
  }
  .banner-container .banner-content .banner-title {
    font-size: 1.375rem;
    padding-top: 20px;
  }
  .banner-container .banner-content .banner-description {
    font-size: 0.875rem;
    padding: 20px 10px;
    margin: 0;
  }
  .popular-tours-contant .popular-tours-title {
    font-size: 1.25rem;
}
  .popular-tours-contant .popular-tours-description {
    font-size: 0.875rem;
}
  .popular-tours-contant ul li {
    font-size: 0.875rem;
}
  .select-container form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 16px;
  }
  .select-container form input {
    padding-top: 18px;
    max-width: 471px;
  }
  .select-container {
    max-width: 800px;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
  }
  .popular-tours-img img {
    width: 100%;
  }
  .destination-container-wraper .destination-content h2 {
    font-size: 1.5rem;
}
  .destination-container-wraper .destination-content p {
    font-size: 0.875rem
}
  .destination-card {
    margin-top: 24px;
  }
  .destination-card .card-1,
  .destination-card .card-2,
  .destination-card .card-3,
  .destination-card .card-4,
  .destination-card .card-5,
  .destination-card .card-6,
  .destination-card .card-7 {
    grid-column: span 12;
  }
  .footer-content {
    width: 100%;
  }
  .footer-content .footer-heading h3 {
    font-size: 30px;
  }
  .footer-content .footer-heading h3 span {
    font-size: 30px;
  }
  .newsletter .newsletter-container {
    flex-direction: column;
    row-gap: 20px;
  }
  .newsletter-inbox {
    border-radius: 16px;
    border: 1px solid #ff5400;
    padding: 30px;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
  .newsletter-inbox input[type="button"] {
    padding: 14px 100px 14px 100px;
}
  .newsletter-banner-save-up h5 {
    font-size: 16px;
  }
  .newsletter-banner-save-up h3 {
    font-size: 20px;
  }
  .why-choose-card-container .card-1,
  .why-choose-card-container .card-2,
  .why-choose-card-container .card-3{
    grid-column: span 4;
  }
  .why-choose-content h2{
    font-size: 1.25rem;
  }
  .why-choose-content p{
    font-size: 0.875rem;
    margin-top: 16px;
  }
  .simple-perfect-containaer {
    flex-direction: column;
    gap: 24px;
  }
  .simple-perfect-content {
    width: 90%;
}
.simple-perfect-media-section{
width: 90%;
}
.simple-perfect-content h2 {
  font-size: 20px;
  line-height: 30px;
}
.simple-perfect-content p {
  font-size: 14px;
}
.simple-perfect-content ul li{
  font-size: 14px;
  margin-bottom: 16px;
}

.deals-discounts-section-title{
  font-size: 20px;
}
.deals-discounts-section-description{
  font-size: 14px;
}
.card-time-location {
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 452px;
  margin-top: 0px;
  column-gap: 15px;
  margin-left: 10px;
}

.card-time-location .card {
  margin-top: 26px;
}
.card-time-location .clock {
  width: 100%;
  justify-content: flex-start;
}
.card-wraper {
    align-items: end;
    justify-content: center;
}
#card-wraper {
    align-items: end;
    justify-content: center;
}
#card-wraper .card-container {
  margin-left: 0;
  height: 297px;
  margin-bottom: 20px;
}
.card-container {
  margin-right: 0;
  height: 297px;
  margin-bottom: 20px;
}

.card-content {
  max-width: 280px;
  margin: 10px;
  gap: 0;
}
.card-content h3 {
  font-size: 20px;
}
.card-content p {
  color: #5A5A5D;
  font-size: 14px;
  line-height: 24px; 
}
.card-content p span{
  display: none;
}
.card-content h4 {
  font-size: 16px;
  margin: 10px 0px;
}
.card-content a {
  font-size: 18px;
}
}

